// VARIABLES
$main-color:#008F76;

%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}






// UNEVERSAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}









// MAIN 

nav {
    @extend %flex-between;
    width: 1440px;
    height: 120px;
    background-color: $main-color;
    padding: 0 100px;
}

.nav-ul {
    display: flex;
    align-items: center;

    li {
        margin-left: 102px;

        a {
            color: #F5F5FF;
            font-weight: 500;
            font-size: 16px;
        }

        button {
            border: 1px solid #fff;
            background: rgba(0, 0, 0, 0);
            color: #fff;
            box-sizing: content-box;
            padding: 10px 17px;
            border-radius: 10px;
            font-weight: 500;
            font-size: 16px;
            cursor: pointer;
        }
    }
}

.nav-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    @extend %flex-center;

    img {
        width: 49px;
    }
}

.header-content {
    width: 1440px;
    height: 1041px;
    background: linear-gradient(180deg, #FFFFFF 0%, #F6F5FF 100%);
    position: relative;

    &-text {
        text-align: center;
        margin-top: 98px;

        h4 {
            font-family: 'Gentium Book Plus', serif;
            font-size: 16px;
            color: #008f76;
            line-height: 150%;

            span {
                font-family: 'Gentium Book Plus', serif;
                font-style: italic;
                color: #000;
                font-weight: 500;
            }
        }

        h1 {
            color: #212121;
            font-size: 50px;
            line-height: 200%;

            span {
                color: $main-color;
            }
        }

    }
}

.lupa {
    width: 209px;
    height: 52px;
    background: #008F76;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
    border-radius: 20px;
    color: #fff;
    @extend %flex-center;
    font-size: 16px;
    line-height: 200%;
    border: none;

    img {
        margin-left: 12px;
    }
}

.qol {
    background: #fff;
    border: 1px solid $main-color;
    color: $main-color;
    width: 251px;
    height: 52px;
    border-radius: 20px;
    font-size: 16px;

    img {
        margin-left: 12px;
    }
}

.btns {
    width: 508px;
    height: 52px;
    @extend %flex-between;
    margin: 0 auto;
    margin-top: 48px;

    button {
        cursor: pointer;
    }
}

.hr1 {
    display: block;
    margin: 0 auto;
    margin-top: 54px;
}

.yurag {
    position: absolute;
    width: 100px;
    height: 138.33px;
    left: 115px;
    bottom: 441px;
    padding: 14px 13px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h6 {
        font-weight: 500;
        font-size: 5px;
        line-height: 200%;
    }

    h5 {
        font-weight: 400;
        font-size: 5px;
        line-height: 200%;
        color: $main-color;
    }

    img {
        width: 60px;
        height: 86.04px;
    }
}

.baliq {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 130px;
    height: 200px;
    left: 342px;
    top: 561px;
    background: #FFFFFF;
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);

    h6 {
        font-weight: 500;
        font-size: 8px;
        line-height: 200%;
        color: #212121;
    }

    h5 {
        font-size: 5px;
        line-height: 200%;
        color: #008F76;
    }
}

.qiz {
    position: absolute;
    width: 130px;
    height: 220px;
    left: 100px;
    top: 721px;
    background: #FFFFFF;
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    padding: 13px;

    h6 {
        font-weight: 500;
        font-size: 8px;
        line-height: 200%;
        color: #212121;
    }

    h5 {
        font-weight: 400;
        font-size: 5px;
        line-height: 200%;
        color: #008F76;
    }
}

.middle-card {
    position: absolute;
    width: 230px;
    height: 360px;
    left: 604px;
    top: 550px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    padding: 13px;

    h6 {
        font-weight: 500;
        font-size: 10px;
        line-height: 200%;
        color: #212121;
    }

    h5 {
        font-weight: 400;
        font-size: 10px;
        line-height: 200%;
        color: #008F76;
    }

    &-left {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 584px;
        top: 724px;
        cursor: pointer;

    }

    &-right {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 814px;
        top: 724px;
        cursor: pointer;
    }
}

.hati {
    width: 100px;
    height: 128px;
    left: 1223px;
    padding: 7px;

    img {

        width: 86.09px;
        height: 88.73px;
    }
}

.anatom {
    left: 966px;
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.berjalan {
    width: 130px;
    height: 200px;
    left: 1208px;
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    padding: 6px 12px;
}

.people-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 106px;
    gap: 48px;
    width: 1440px;
    height: 524px;
    background: linear-gradient(180deg, #F6F5FF 0%, #FFFFFF 100%);

    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 200%;
    }

    &-card1 {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        gap: 24px;
        width: 596px;
        height: 228px;
        background: #FFFFFF;
        box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 5px;

        h3 {
            width: 536px;
            height: 64px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 200%;
            color: #212121;
            position: absolute;
            top: 30px;
            left: 30px;
        }

        h4 {
            position: absolute;
            width: 150px;
            height: 32px;
            left: 210px;
            top: 118px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 200%;
        }

        p {
            position: absolute;
            width: 272px;
            height: 32px;
            left: 210px;
            top: 150px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #949494;
        }

        img {
            position: absolute;
            width: 80px;
            height: 80px;
            left: 114px;
            top: 118px;
        }

    }

    &-card2 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        gap: 24px;
        width: 596px;
        height: 228px;
        background: #FFFFFF;
        box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
        border-radius: 5px;
    }

}

.people-card-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 39px;
    width: 1231px;
    height: 228px;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 210px;
    width: 1440px;
    height: 296px;
    background: #FFFFFF;
    position: relative;
}

.fact {
    img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 187px;
        top: 108px;
    }

    h1 {
        position: absolute;
        width: 84px;
        height: 64px;
        left: 283px;
        top: 100px;
        font-weight: 600;
        font-size: 32px;
        line-height: 200%;
    }

    p {
        position: absolute;
        height: 32px;
        left: 283px;
        top: 164px;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #949494;

    }
}

.fact2 {
    img {
        left: 580px;
        top: 108px;
    }

    h1 {
        left: 714px;
        top: 100px;
    }

    p {
        left: 676px;
        top: 164px;
    }
}

.fact3 {
    img {
        left: 1040px;
        top: 108px;
    }

    h1 {
        left: 1184px;
        top: 100px;
    }

    p {
        left: 1136px;
        top: 164px;
    }
}

.people-card2 {
    position: relative;
    width: 1440px;
    height: 682px;
    background: #FFFFFF;

    h2 {
        position: absolute;
        width: 221px;
        height: 48px;
        left: 100px;
        top: 100px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 200%;
    }

    #makera {
        position: absolute;
        width: 413px;
        height: 32px;
        left: 100px;
        top: 156px;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #949494;

    }

    #selen {
        position: absolute;
        width: 115px;
        height: 32px;
        left: 1225px;
        top: 108px;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        text-align: right;
        color: #949494;
    }
}

.people1,
.people2 {
    position: absolute;
    width: 596px;
    height: 280.98px;
    left: 100px;
    top: 213.02px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;

    p {
        position: absolute;
        width: 536px;
        height: 96px;
        left: 30px;
        top: 30px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #212121;
    }

    img {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 30px;
        top: 170.98px;
    }

    h3 {
        position: absolute;
        width: 104px;
        height: 32px;
        left: 126px;
        top: 170.98px;
        font-weight: 500;
        font-size: 16px;
        color: #212121;
    }

    h4 {
        position: absolute;
        width: 161px;
        height: 32px;
        left: 126px;
        top: 202.98px;
        font-weight: 400;
        font-size: 16px;
        color: #949494;
    }
}

.people2 {
    position: absolute;
    left: 744px;
    top: 212px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.chapga {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 80px;
    top: 332px;
}

.onga {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 1320px;
    top: 332px;
}

.dots {
    position: absolute;
    width: 96px;
    height: 16px;
    left: 672px;
    top: 566px;
    @extend %flex-between
}

.dot {
    width: 16px;
    height: 16px;
    background: #D9D9D9;
    border-radius: 50%;
}

.active-dot {
    background-color: #008F76;
}

.article {
    position: relative;
    width: 1440px;
    height: 645px;
    background: #fff;

    h2 {

        position: absolute;
        left: 100px;
        top: 100px;
        font-weight: 500;
        font-size: 24px;
        color: #212121;
    }

    p {
        color: #949494;
        font-weight: 400;
        font-size: 16px;
        position: absolute;
        width: 413px;
        height: 32px;
        left: 100px;
        top: 156px;
    }

    h3 {
        position: absolute;
        left: 1225px;
        top: 108px;
        font-weight: 400;
        font-size: 16px;
        color: #949494;
        text-align: right;
    }
}

.children {
    position: absolute;
    left: 100px;
    top: 212px;
}

.library {
    position: absolute;
    left: 529px;
    top: 212px;
}

.bag {
    position: absolute;
    left: 959px;
    top: 212px;
}

.down-btns {
    width: 1440px;
    height: 576px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    h1 {
        position: absolute;
        width: 920px;
        height: 56px;
        left: 271px;
        top: 100px;
        font-weight: 500;
        font-size: 28px;
        line-height: 200%;

        span {
            color: #008F76;
        }
    }

    h3 {
        position: absolute;
        width: 333px;
        height: 40px;
        left: 554px;
        top: 164px;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #949494;
    }

    .donasi {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        gap: 10px;
        position: absolute;
        width: 344px;
        height: 68px;
        left: 548px;
        top: 252px;
        background: #008F76;
        border: 1px solid #008F76;
        box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015);
        border-radius: 20px;
        font-weight: 500;
        font-size: 24px;
        color: #fff;
    }

    p {
        position: absolute;
        width: 48px;
        height: 40px;
        left: 692px;
        top: 344px;
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #949494;
    }

    .hubungi {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 24px;
        gap: 10px;
        position: absolute;
        width: 270px;
        height: 68px;
        left: 585px;
        top: 408px;
        border: 1px solid #008F76;
        filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.03)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.015));
        border-radius: 20px;
        font-weight: 500;
        font-size: 24px;
    }

}

.footer {
    width: 1440px;
    height: 380px;
    background: #FFFFFF;
    position: relative;

    &-logo {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 291px;
        height: 42px;
        left: 100px;
        top: 100px;

        h2 {
            font-weight: 500;
            font-size: 18px;
            line-height: 200%;
        }

    }
}

.footer ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;
    position: absolute;

    li {
        font-weight: 300;
        font-size: 16px;

        a {
            color: #949494;
        }
    }
}

ul li #bold {
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: #212121;
}

.contact {
    left: 697px;
    top: 100px;
}

.tentang {
    left: 948px;
    top: 100px;
}

.galery {
    left: 1226px;
    top: 100px;
}

.icons {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 176px;
    height: 32px;
    left: 100px;
    top: 190px;

}

footer {
    position: absolute;
    width: 1440px;
    height: 60px;
    left: 0px;
    top: 320.02px;
    background: #008F76;
    @extend %flex-center;
    color: #fff;
    
    h2{
        font-weight: 300;
        font-size: 18px;
    }

}